#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}


#container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100000;
    margin: 0;
    padding: 0;
    object-fit: fill;
}

header {
    font-family: 'Galada', cursive;
}

header h1 {
    font-size: 3em;
    color:#ffd800;
    margin-left: 23%;

}

#results {
    font-family: 'Raleway', sans-serif;
}

#overflow {
    height: 175px;
    overflow: auto;
    border-top: 7px solid #036473;
    border-radius: 0 15% 5% 0;
    background-color: aliceblue;
}


#search:hover,
#search-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#search-button {
    font-size: 24px;  
}

.search-result {
    border: 2px solid gray;
    background-color: beige;
}

#search {
    background: transparent;
    border-radius: 9%;
    border: 2px solid white;
    outline: none;
    color: white;
    letter-spacing: 4px;
    font-size: 20px;
}

#search::placeholder {
    color: white;
}

#search:focus {
     border: 2px solid white;

}




div h4 {
    color:red
}

